# Virtual environment
.venv/

# Jupyter auto-checkpoints
.ipynb_checkpoints/

# Byte-compiled / cache files
__pycache__/
*.pyc

# OS cruft
.DS_Store

# Datasets
mimic-iii/
mimic-iv/
10k_synthea_covid19_csv/

**/_cache/*